.person_form {
    display: float;
    float: left;
    margin-right: 10px;
}

.employee_form {
    float: left;

}

.form {
    display: float;
    float: left;
    margin-right: 10px;
}


select {
    width: 173px;
    margin-bottom: 16px;
}

#container {
    width: 300px;
}

[disabled] {
    color: gray;
  }
  
  option {
    color: default-color;
  }
