<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="index.css"/>
    <script type="text/javascript" src="index.js"></script>
    <script src="https://kit.fontawesome.com/4e28449a6c.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="assignment_wrapper">
    <div class="assignment_meta">
        <div class="assignment_status"></div>
        <div class="assignment_dates">
            <span class="assignment_due">Due: 02/06/2020</span>
        </div>
    </div>
    <div class="assignment_details">
        <div class="assignment_count">1</div>
        <div class="assignment_title">
            <span tabindex="0" role="link">Welcome to Financial Accounting and Reporting</span>
        </div>
    </div>
    <div class="assignment_metrics"><span><b>Time Spent: </b>01:00</span></div>
</div>
</body>
</html>